*{
    margin: 0px;
    font-family: sans-serif;
    background-color: aqua;
}
body{
    display: flex;
    justify-content: center;
   
}

.out{
    margin-top: 50px;
}

#h3{
    margin-top: 20px;
    text-align: center;
}
input{
    text-align: center;
    width: 300px;
    padding: 5px;
}
